doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      = "{{ name }}"

    script.
      window.ENV = '#{APP.ENV}';
      window.API_KEY = '#{APP.CONFIG.apiKey}';
      window.API_ENV = '#{APP.CONFIG.apiEnv}';
      window.SESSION = !{JSON.stringify(SESSION)}

    if APP.CONFIG.servePackedAssets
      //- only include the css if prod as in-lined otherwise
      link(rel='stylesheet' href='/build/{{ name }}.min.css')

  body
    //- the main container for the app
    #app

    if APP.CONFIG.servePackedAssets
      //- minified prod build
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vuex/2.3.1/vuex.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/7.0.3/vue-i18n.min.js')
      script(src='/build/{{ name }}.min.js?version=' + VERSION)
    else
      //- include dev build with hot reload
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vuex/2.3.1/vuex.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/7.0.3/vue-i18n.js')
      script(src='/build/{{ name }}.js')
