doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      = "{{ name }}"

    if ENV == 'production'
      //- only include the css if prod as inlined otherwise
      link(rel='stylesheet' href='/build/{{ name }}.min.css')

    if session
      script.
        window.session = !{JSON.stringify(session)}

  body
    //- the main container for the app
    #app

    if ENV == 'production'
      //- include dev build with hot reload
      script(src='/build/{{ name }}.min.js')
    else
      //- minified prod build
      script(src='/build/{{ name }}.js')
