doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      = "{{ name }}"

    if ENV == 'production'
      //- only include the css if prod as inlined otherwise
      link(rel='stylesheet' href='/build/{{ name }}.min.css')

    script.
      window.ENV = '#{ENV}';
      window.API_KEY = '#{CONFIG.apiKey}';
      window.SESSION = !{JSON.stringify(SESSION)}

    if ENV == 'production'
      //- only include the css if prod as inlined otherwise
      link(rel='stylesheet' href='/build/junction.min.css')

  body
    //- the main container for the app
    #app

    if ENV == 'production'
      //- include dev build with hot reload
      script(src='/build/{{ name }}.min.js')
    else
      //- minified prod build
      script(src='/build/{{ name }}.js')
